
    <div class="loading-overIn">
        <div class="loading__title">
            {{#if isFile}}
                <span class="icon-docu2 loading__titleIcon"></span>
            {{/if}}
            <span class="loading__titleText">{{message}}<span class="bb_add_text_value"></span></span>
        </div>
        <div class="cssload-jumping">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
