<div class="modal fade modal__loaded" id="modal__confirm">
    <div class="modal__dialog modal__dialog-w430">
        <div class="">{{firstMessage}}</div>
        <button class="btn btn-transp-blue bb_ok_button" data-dismiss="modal">OK</button>
        <button class="btn btn-transp-blue bb_cancel_button" data-dismiss="modal">Отмена</button>
    </div>
</div>