<div class="modal fade modal__loaded" id="modal__loaded" style="display: block;">
    <div class="modal__dialog modal__dialog-w320">
        <div class="">{{firstMessage}}</div>
        <div class="">{{secondMessage}}</div>
        <button class="btn btn-transp-blue bb_ok_button" data-dismiss="modal">OK</button>
    </div>
</div>