<li class="ddMenu__item">
    <a href="" class="ddMenu__link bb_select_link bb_select_link_juristic_person">Ю</a>
</li>
<li class="ddMenu__item">
    <a href="" class="ddMenu__link bb_select_link bb_select_link_juristic_person">Ф</a>
</li>