

<div class="ownersNew__head heading__box __hoaOwners_headerActions bb_units_header">
    <div class="heading pull-left pr-10 js-ownerTitle"> Реестр недвижимости</div>

</div>

<div class="bb_buildings"></div>

<div class="plus__panel">
    <div class="plus__btns">
        <button class="plus_sm plus_sm-pink bb_download_template" data-toggle="tooltip" data-placement="left" title="" data-original-title="Скачать шаблон">
            <span class="icon-download plus_sm__icon"></span>
        </button>
    </div>
    <a href="" class="plus plus-blue">
        <!--<span class="icon-plus plus__icon"></span>-->
        <span class="icon-plus plus__icon plus__icon-action plus__icon-action-start"></span>
        <span class="icon-plus plus__icon plus__icon-action plus__icon-action-end"></span>
    </a>
</div>
